button.save-btn {
  background: #21aa47;
  color: #ffff;
  border: none;
  border-radius: 6px;
  padding: 3px 30px;
  font-size: 14px;
}

p {
  margin-bottom: 0px !important;
}

.cancel-btn {
  background: #ffff;
  color: #21aa47;
  border: 1px solid #21aa47 !important;
  border-radius: 6px;
  padding: 3px 30px;
  font-size: 14px;
}