<!-- <div class="modal-header">
    <h4 class="modal-title">Alert</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h6>Your session expired , please login again</h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn nbb-btn-color" (click)="accept()" style="color: #fff;"><i class="fa-solid fa-circle-check"></i> Ok</button>
    </div> -->
<!-- <div mat-dialog-title style="text-align:end">
      <button mat-flat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
      </button>
    </div> -->
<div *ngIf="status == 'Update'">


  <mat-dialog-content>
    <p>
      {{message}} {{status}} {{msg}}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" tabindex="1" (click)="onNoClick()">{{confirmButtonText}}</button>
    <button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>

  </mat-dialog-actions>
</div>
<div *ngIf="status == 'Delete'">


  <mat-dialog-content>
    <p>
      {{message}} {{status}} {{msg}}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" tabindex="1" (click)="onNoClick()">{{confirmButtonText}}</button>
    <button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
  </mat-dialog-actions>
</div>

<div *ngIf="status == 'Cancel'">
  <mat-dialog-content>
    <p>
      {{message}} {{status}} this Order
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" tabindex="1" (click)="onNoClick()">{{confirmButtonText}}</button>
    <button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>

  </mat-dialog-actions>
</div>

<div *ngIf="status == 'Remove'">
  <mat-dialog-content>
    <p>
      {{message}} {{status}} this Courier Partner
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" tabindex="1" (click)="onNoClick()">{{confirmButtonText}}</button>
    <button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>

  </mat-dialog-actions>
</div>
<div *ngIf="status == 'Deliver'">
  <mat-dialog-content>
    <p>
      {{message}} {{status}} this Order
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" tabindex="1" (click)="onNoClick()">{{confirmButtonText}}</button>
    <button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>

  </mat-dialog-actions>
</div>


<div *ngIf="status == 'OverlapWarning'">
  <mat-dialog-content style="max-width:360px">
    <div class="d-flex align-items-start gap-2 mb-2">
      <mat-icon style="color:#f59e0b;margin-top:2px">warning</mat-icon>
      <strong>Overlapping Zone Warning</strong>
    </div>
    <p>This zone overlaps with:</p>
    <ul style="padding-left:1.2rem;margin-bottom:0.5rem">
      <li *ngFor="let name of data.overlappingZones"><strong>{{ name }}</strong></li>
    </ul>
    <p class="mb-0">Overlapping zones can cause operational conflicts. Are you sure you want to save?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="warn" tabindex="1" (click)="onNoClick()">Save Anyway</button>
    <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
  </mat-dialog-actions>
</div>

<div *ngIf="data?.login">


  <mat-dialog-content style="width:300px" align="center">
    <div><mat-icon style="color: red;">report_problem</mat-icon></div>
    <p class="text-center">

      Access Denied ! Not A Admin !
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" tabindex="1" (click)="onNoClick()">Ok</button>

  </mat-dialog-actions>
</div>