.modal-body{
    h4{
        color: #003A4B;
    }
    
}
.mat-raised-button{
    line-height: 28px;
}
.mat-dialog-actions{
    margin: 0px !important;
        min-height: 25px !important;
}
.mat-flat-button{
    min-width: 0px;
    padding: 0px 0px ;
}