<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <div class="container-fluid p-3">
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn mb-2" (click)="backToCustomers()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to B2C Customers
          </button>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="px-3">
            <button type="button" class="btn buttons">
              <span class="customer">Flagged Consumers</span>
              <span class="badge badge-light violet">{{ totalCount }}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-12">
          <mat-card class="m-0">
            <mat-card-header class="p-0">
              <div class="card-header p-3">
                <h5>Users with 3+ consecutive post-driver-accept cancellations</h5>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div *ngIf="loading" class="text-center p-4">Loading...</div>
              <div *ngIf="!loading && flaggedList?.length" class="row">
                <div class="col-sm-6 col-md-4 mb-3" *ngFor="let item of flaggedList; let i = index">
                  <mat-card class="m-0">
                    <mat-card-content class="customerscard">
                      <div class="my-1">
                        <h4 class="heading">{{ getDisplayName(item) }}</h4>
                        <h4 class="heading">{{ getDisplayMobile(item) }}</h4>
                        <h4 class="heading">{{ getDisplayEmail(item) }}</h4>
                        <p class="mb-0">
                          <strong>Cancellations:</strong> {{ item.postDriverAcceptCancellationCount || 0 }}
                        </p>
                        <p class="mb-0">
                          <strong>Status:</strong>
                          <span *ngIf="item.block?.isBlocked" class="text-danger">Blocked</span>
                          <span *ngIf="!item.block?.isBlocked" class="text-success">Active</span>
                        </p>
                      </div>
                      <button mat-raised-button color="primary" class="view" (click)="viewUserBehavior(item)">
                        View Details
                      </button>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-12">
                  <mat-paginator
                    (page)="pageChange($event)"
                    [pageSize]="limit"
                    [pageSizeOptions]="[10, 20, 50]"
                    [length]="totalCount"
                    aria-label="Select page">
                  </mat-paginator>
                </div>
              </div>
              <div *ngIf="!loading && !flaggedList?.length">
                <div class="text-center">No flagged users found.</div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
