<div class="login-register" style="background-image:url(assets/images/jcr_content.jpg);">
    <div class="col-lg-4 col-md-5 col-sm-12 login_main_box">
        <div class="login-register">
            <mat-card class="m-t-10 w-100">
                <mat-card-content>
                    <form id="loginform">
                        <div class="login_box">
                            <div class="text-center login-head">
                                <img alt="homepage" src="assets/images/custm-nbb/logo-nbb.svg">
                                <h4 class="m-t-0 py-4">Enter OTP</h4>
                            </div>

                            <p>A confirmation code has been sent to your email/mobile.</p>
                            <p>Please enter the code below to verify your email/mobile.If you did not receive the
                                code,please click on Resend Code.</p>
                            <div class="form-group mb-3">
                                <label for="" class="form-label">Enter OTP <span>*</span></label>
                                <input type="text" class="form-control" id="" placeholder="Enter OTP">
                            </div>


                            <div class="login-btn">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <button mat-raised-button color="warn" class="">Verify</button>
                                    </div>
                                    <div class="col-lg-6">
                                        <button mat-raised-button color="warn" class="">Resend OTP</button>
                                    </div>
                                </div>

                            </div>
                            <p class="text-center">Back to Login</p>


                        </div>



                    </form>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

</div>