<div class="login-register" style="background-image:url(assets/images/jcr_content.jpg);">
    <div class="col-lg-4 col-md-5 col-sm-12 login_main_box">
        <div class="login-register">
            <mat-card class="m-t-10 w-100">
                <mat-card-content>
                    <form id="loginform">
                        <div class="login_box">
                            <div class="text-center login-head">
                                <img alt="homepage" src="assets/images/custm-nbb/logo-nbb.svg">
                                <h4 class="m-t-0 py-4">Register</h4>
                            </div>

                            <div class="form-group mb-3">
                                <label for="" class="form-label">CPR <span>*</span></label>
                                <input type="text" class="form-control" id="" placeholder="Enter CPR">
                            </div>

                            <div class="form-group  mb-3">
                                <label for="" class="form-label">Password <span>*</span></label>
                                <input type="text" class="form-control" id="" placeholder="Enter password">
                            </div>
                            <div class="form-group mb-3">
                                <label for="" class="form-label">Email <span>*</span></label>
                                <input type="text" class="form-control" id="" placeholder="Enter Email">
                            </div>
                            <div class="form-group mb-3">
                                <label for="" class="form-label">Bahrain Mobile Number <span>*</span></label>
                                <input type="text" class="form-control" id="" placeholder="Bahrain Mobile Number">
                            </div>

                            <div class="login-btn">
                                <button mat-raised-button color="warn" class="">Sign Up</button>
                            </div>
                            <p class="text-center">Already have an account Sign In</p>


                        </div>



                    </form>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

</div>